.editor-left-panel {
  border-right: solid 1px #aaa;
  display: flex;
  flex-direction: column;
}

/* -- todo: move to own file(s) -- */

.editor-left-panel > .editor-details {
  text-align: center;
  padding: 0 1rem 1rem;
}

.editor-details > .title {
  font-weight: 400;
  width: 80%;
  font-size: 2rem;
  color: #333;
  margin: 0 auto;
}

.editor-details > .date-range {
  color: #555;
}

.editor-left-panel > .activity-list {
  flex: 1;
}
