input.editable-text {
  display: inline-block;
  border: none;
  outline: none;
  text-align: center;
}

input.editable-text + span.border {
  display: block;
  margin: -5px auto 5px;
  height: 1px;
  background-color: limegreen;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

input.editable-text:focus + span.border {
  transform: scaleX(1);
}
