.spinner {
  margin: 20px auto;
  border-style: solid;
  border-radius: 100%;
  animation: spinnerAnimation 0.8s infinite linear;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
