.update-notifier {
  position: absolute;
  height: 3rem;
  padding: 1rem;
  background-color: #333;
  color: #ddd;
  font-family: sans-serif;
  text-align: left;
}

@media (max-width: 450px) {
  /* Mobile - Stick on bottom */
  .update-notifier {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 451px) {
  /* Desktop - Lower-left corner */
  .update-notifier {
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

.update-notifier button {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(40, 218, 40);
  cursor: pointer;
}

.update-notifier button:focus {
  outline: 0;
}
