.update-notifier {
  position: absolute;
  height: 4rem;
  padding: 1rem;
  background-color: #333;
  color: #ddd;
  font-family: sans-serif;
  font-size: 1.3rem;
  text-align: left;
  line-height: 2rem;
}

@media(max-width: 450px) {
  /* Mobile - Stick on top */
  .update-notifier {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media(min-width: 450px) {
  /* Desktop - Lower-left corner */
  .update-notifier {
    bottom: 1rem;
    left: 1rem;
    border-radius: .3rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  }
}

.update-notifier button {
  margin-left: .5rem;
  padding: 0 .5rem;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #00e676;
  cursor: pointer;
}

.update-notifier button:focus {
  outline: 0;
}
