.stat-item {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  color: #333;
}

.stat-item .unit {
  text-transform: uppercase;
  font-size: 65%;
  color: #aaa;
}

.stat-item > .name {
  text-transform: uppercase;
  font-size: 50%;
  color: #aaa;
  margin-top: -5px;
}
