.grid-background {
  --grid-subdiv: 5;
  --grid-size: 24px;
  --line-thickness: 1px;
  --grid-line-major-color: white;
  --grid-line-minor-color: #f3f3ed;

  background-color: #eceedc;
  background-size: calc(var(--grid-subdiv) * var(--grid-size))
      calc(var(--grid-subdiv) * var(--grid-size)),
    calc(var(--grid-subdiv) * var(--grid-size))
      calc(var(--grid-subdiv) * var(--grid-size)),
    var(--grid-size) var(--grid-size), var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      var(--grid-line-major-color) var(--line-thickness),
      transparent var(--line-thickness)
    ),
    linear-gradient(
      90deg,
      var(--grid-line-major-color) var(--line-thickness),
      transparent var(--line-thickness)
    ),
    linear-gradient(
      var(--grid-line-minor-color) var(--line-thickness),
      transparent var(--line-thickness)
    ),
    linear-gradient(
      90deg,
      var(--grid-line-minor-color) var(--line-thickness),
      transparent var(--line-thickness)
    );
}
