.editor {
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-template-rows: 100vh;
}

@media(max-width: 1280px) {
  .editor {
    grid-template-columns: 40rem 1fr;
  }
}

@media(max-width: 1024px) {
  .editor {
    grid-template-columns: 35rem 1fr;
  }
}

header.activity-list-header {
  margin-top: 0.5rem;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

header.activity-list-header button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  outline: none;
}

header.activity-list-header button.primary {
  color: limegreen;
}
