.editor {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 100vh;
}

.editor .activity-list {
  border-right: solid 1px #aaa;
}

@media(max-width: 1280px) {
  .editor {
    grid-template-columns: 400px 1fr;
  }
}

@media(max-width: 1024px) {
  .editor {
    grid-template-columns: 300px 1fr;
  }
}
