.activity-list {
  padding: 0.5rem;
  overflow: scroll;
}

.activity-list > .empty {
  text-align: center;
  color: #aaa;
  margin: 1rem;
}

.activity-list > .activity-card {
  margin-bottom: 0.5rem;
}

.activity-list > button.load-more {
  display: block;
  margin: 2rem auto;
  border: none;
  background: none;
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
